a:hover{
color:#225DAE !important;
    font-weight: 900;
}
.need_enclosure{
	text-align: left;
	padding: 8% 20%;
line-height:40px;
}

html, body
	{
		height: 100%;
	}
 .T2{
    position: relative;
float:right;
bottom:5em;
     color: white !important;
}
 .T2:hover{
   background:#143580
}
 .T3{
 position: relative;
float:right;
bottom:-5em;
          color: #aaa !important;
}
.pIMG{
    float: left;
   margin:1em 1em 2em 1em ;
    border-radius: 12px;
   max-height:200px;
	max-width:200px;
}
.pTitle{
    font-weight: 900;
    font-size: 20pt;
}
.ptxt{
    text-indent: 1em;
    line-height: 1.5em;
    padding:1em 0em 1em 1em;
    font-size:16pt;
}
.box
{
	padding: 3em 2em 2em 2em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
	text-align: center;
	display: inline-block;
	width:30%;
}


	body
	{
		margin: 0px;
		padding: 0px;
		background: #333333;
		font-family: 'Varela', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: #656565;



	}
#three-column{
	width: 90%;
  padding: 5em 0em 0em 0em;
  margin: auto;
text-align: center;
	box-shadow: 0px 0px 13px #AAA;
	background:#FFF;
	
	padding-bottom: 8em;
}
.summit{
	padding-bottom: 58em !important;
}
	.sidenote{
	color:#FAA !important;
	font-size:10pt;
	font-style: italic;

	}
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 700;
		color: #2B3F48;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	ul.actions
	{
		text-align: center;
	}
		
		ul.actions li
		{
		}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	

	
	a:hover
	{
		text-decoration: none;
		cursor: pointer;
	}
	
	.container
	{
		overflow: hidden;
		margin: 0em auto;
		width: 100%;

	}
#extra{	 background: #ddd;}
	
/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

	.image
	{
		display: inline-block;
	}
	
	.image img
	{
		display: block;
		width: 100%;
	}
	
	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}
	
	.image-centered img
	{
		margin: 0 auto;
		width: auto;
	}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.staff
	{
		margin-bottom: 3em;
	}

	ul.staff li
	{
		display: inline-block;
	}
	
	ul.staff li img
	{
		width: 80%;
		border-radius: 50%;
	}


/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 2em 0em 0em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 0em 3em;
		background: #225DAE;
		letter-spacing: 0.20em;
		line-height: 4em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1em;
		color: #FFF;
		border-radius: 5px;
             color: white !important;
	}
	.logo{
		height: 2em;
	padding-bottom:.5em;
		padding-left:2em;
		transition: all 500ms ease-in-out;
		
	}
	.button:before
	{
		display: inline-block;
		background: #FFC31F;
		margin-right: 1em;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #252729;
	}
	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		text-transform: uppercase;
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.7em;
		color: #6F6F6F;
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}
	
	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

.box:active{
	background:#224D8E !important;
	box-shadow: inset 0 0 30px rgba(0,0,0,0.3);
	transition: all 100ms;
	color:#aaa !important;
	text-shadow: 0 0 1px rgba(255,255,255,.5)
}
a{text-decoration: none;color:inherit}


	.box{
		width: 24%;
		padding:40px 20px ;
		margin:10px;
	}
.uptop{color:#ddd !important;padding:1em;}
.uptop:active{color:#55a !important}
.uptop:hover{color:#55a !important}

.boxie,.unboxie{
    	padding:1em 1em 5em 1em;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 8px;
 text-align: left;

width:90%;
	margin:auto;
	height: 200px
}

.plunger{width:100%;}

.box:hover,.plunger:hover,.boxie:hover{
	background:#225DAE !important;
	cursor:pointer;
	color:white;
}



.menuitema:hover{
	//background: #2255aa
}
.box, .divbutb{
	border-radius:10px;
	transition:all 500ms ease;
	
}
a:visited{color:inherit}

 a .divbut{	color:#777 ;}
a .divbutb{	color:#777;}
	.boxA,
	.boxB,
	.boxC
	{
	text-align:center;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}
	
	#wrapper
	{
		background: #FFF;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header-wrapper
	{
		background: -moz-linear-gradient(top, rgba(34,93,174,1) 0%, rgba(34,93,174,0.5) 50%, rgba(34,93,174,0) 100%);
background: -webkit-linear-gradient(top, rgba(34,93,174,1) 0%,rgba(34,93,174,0.5) 50%,rgba(34,93,174,0) 100%);
background: linear-gradient(to bottom, rgba(34,93,174,1) 0%,rgba(34,93,174,0.5) 50%,rgba(34,93,174,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#225dae', endColorstr='#00225dae',GradientType=0 );
		position:fixed;
		top:0;
		left:0;
		width:100%;
		z-index:9000;
		height:133px;
			transition: all 500ms ease-in-out;
	}

	#header
	{
		//position: relative;
		//padding: 0em 0em;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo
	{
		position: absolute;
		top: 1em;
		left: 0;
	}
	
	#logo h1
	{
		color: #FFF;
	}
	
	#logo a
	{
		text-decoration: none;
		text-transform: uppercase;
		color: #FFF;
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	#menu
	{
		position: absolute;
		top: 2em;
		right: 0;
		transition: all 500ms ease-in-out;
	}
	
	#menu ul
	{
		display: inline-block;
		margin-right:2em;
	}
	
	#menu li
	{
		display: block;
		float: left;
		text-align: center;

	}
	
	#menu li a, #menu li span
	{
		padding: 0.3em 0em;
		margin:0em 1em;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 0.8em;
		color: #FFF;
		font-weight: 900;
		font-family:  Varela, Sans Seriff;
	}
.current_page_item{
	background: #fff;
	padding:.5em;
	pointer-events: none
}


.menuitema{
	padding:.5em;
}
	#menu li:hover a, #menu li.active a, #menu li.active span
	{

		color: #FFF;
	}
	
	#menu .current_page_item a
	{
		//background: #fff;
		color: #225DAE;
	//	border-bottom:solid 3px;
			transition: all 10ms ease-in-out;
				font-weight:900;
	}
		#menu .menuitema a:hover
	{
		//background: #324D8E !important;
		color: #FFF !important;
			border-bottom:solid 3px;
				transition: all 10ms ease-in-out
	}

	#menu .icon
	{
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		overflow: hidden;
		padding: 15% 0em 8% 0em;
		
		background: url('img/prima.gif');

		background-size: cover;
		text-align: center;
		color: rgba(255,255,255,.8);
background-position: 0px 0px;
	}

	#banner .title
	{
		margin-bottom: 1em;
		text-transform: uppercase !important;
	}

	#banner .title h2
	{
		color: #FFF;
	}

	#banner .title .byline
	{
		color: rgba(255,255,255,.6);
	}
	
	#banner .button
	{
		margin-top: 3em;
		background: #225DAE !important;
	}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

	#page
	{
		padding: 5em 0em;
		text-align: center;
	}
	
	#page .button
	{
		margin-top: 2em;
		display: inline-block;
		text-align: center;
	}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

	#sidebar
	{
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(255,255,255,0.08);
		background:#333;
		position:relative;
		bottom:0px;
	}
	
	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.5);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.8);
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/

	#featured
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #225DAE;
		color: rgba(255,255,255,.8);
		text-align: center;
	}

	#featured a
	{
		color: rgba(255,255,255,1);
	}
	
	#featured .button
	{
		background: #FFF;
		margin-top: 3em;
		font-size: 1em;
		color: #225DAE;
	}

	#featured .title
	{
	}

	#featured .title h2
	{
		color: #FFF;
	}

	#featured .title .byline
	{
		color: rgba(255,255,255,.6);
	}

/*********************************************************************************/
/* Featured                                                                      */
/*********************************************************************************/




	#extra
	{
		overflow: hidden;
		padding:0em;
	}
	
	#extra .title
	{
		text-align: center;
	}
	
	#extra .button
	{
		margin-top: 5em;
	}
	

	#extra .uptop, .box .fa
	{
		display: block;
		margin-bottom: 0.5em;
		text-align: center;
		font-size: 3em;
	}


/* RESPONSIVE */

@media screen and  (max-width:420px) {

	#header-wrapper{


    }


}
